<div id='about'>
  A simple URL shortener, made with Sinatra and Redis
</div>
<form>
  <input class='txt' id='link' name='link' type='textbox' placeholder='Link'>
  <div id='id-input'>
    <label>http://shortenious.chrisp.gr/</label>
    <input id='id' name='id' class='txt' type='textbox' placeholder='link-id'>
    <div id='result'></div>
    <button id='submit'>Shorten</button>
  </div>
</form>
